{% extends "layout.html" %}
{% block body %}

        {%with messages= get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <p class="alert alert-info">{{msg}}</p>
          {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="container" >
            <h2 style="text-align: center;">Track Medcine</h2>
            <form method="POST" action="{{ url_for('Track_Medicine') }}" >
              <div class="form-group">
                <label for="sno">Medicine sno:(*)</label>
                <input type="sno" class="form-control" id="sno" placeholder="Enter sno" name="sno" required>
              </div>
              <div class="form-group">
                <label for="medid">Medicine ID:(*)</label>
                <input type="medid" class="form-control" id="medid" placeholder="Enter Medicine ID" name="medid" required>
              </div>
              <div class="form-group">
                <label for="quantity">Medicine quantity:(*)</label>
                <input type="quantity" class="form-control" id="quantity" placeholder="Enter Medicine quantity" name="quantity" required>
              </div>
               <div class="form-group">
                <label for="ssnid">Medicine ssnid:(*)</label>
                <input type="ssnid" class="form-control" id="ssnid" placeholder="Enter ssnid" name="ssnid" required>
              </div>

              <h5 style="color: red;">(*)Fields are mandatory</h5>
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-primary">Reset</button>
            </form>
          </div>

{% endblock %}